.app {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section:nth-child(odd) {
  background-color: #FFF6BF;
}

.section:nth-child(even) {
  background-color: #C3F8FF;
}

.section {
  width: 100%;
  height: 100px;
}
